h1 {
	font-family: Open Sans, sans-serif;
	color: #e9ece5;
	font-size: 2.4em;
	font-style: italic;
	text-align: center;
}

#post_title {
	font-family: Open Sans, sans-serif;
	color: #3b3a36;
	font-size: 1.2em;
	font-style: italic;
	text-align: center;
}


nav {
	text-align: center;
	text-decoration: none;
	font-family: Georgia, sans-serif;
	color: #3b3a36;
	margin-bottom: 2.5em;
}

body {
	margin: 1em auto;
	max-width: 40em;
	padding: 0.62em;
	font:1.2em;
	background-color: #c0dfd9;


	text-align: left;
	text-decoration: none;
	font-family: Georgia, sans-serif;
	color: #3b3a36;
}

table {
	border: solid;
	border-radius: 5px;
	border-width: 1px;
	color: #b3c2bf;
	width: 40em;
}

ul {
	list-style-type: none;
	text-align: center ;
	margin: 0, auto;
}

div {
	text-align:center;
}

a {
	text-decoration:none;
	color:#3b3a36;
}
