<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>b. traven's blog</title>
	<link type="text/css" rel="stylesheet" href="/stylesheet.css">
</head>

<body>

<header>
<a id="banner" href="/"><img src="http://s29.postimg.org/3k75gk93n/small_art.jpg"></a>
<nav>
	<a href="/">Home |</a>
	<a href="/about.html"> About |</a>
    	<a href="/contact"> Contact |</a>
    	<a href="license.html"> License</a>
<hr>
</nav>
</header>

  {{content}}

</body>

</html>
