<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>home</title>
	<link type="text/css" rel="stylesheet" href="stylesheet.css">
</head>

<headers>
<nav>
  <div>    
    <a href="{{site.baseurl}}/about.html"><img src="home.jpg" alt="About" width="42" height="42" border="0"></a>
    <a href="{{site.baseurl}}/"><img src="home.jpg" alt="Home" width="42" height="42" border="0"></a>
  </div>
</nav>
</headers>

<body>
  {{content}}
</body>

</html>
