<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>b. traven's blog</title>
	<link type="text/css" rel="stylesheet" href="/stylesheet.css">
</head>

<body>

<header>
<a id="banner" href="/"><img src="http://s29.postimg.org/3k75gk93n/small_art.jpg"></a>
<nav>
    <a href="/">Home |</a>
    <a href="/about.html"> About |</a>
    <a href="/contact"> Contact</a>
<hr>
</nav>
</header>

  {{content}}
<div id="footer">
  <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
    <img src="https://licensebuttons.net/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0" />
  </a>
</div>

</body>

</html>
